body {
    margin: 0 10px;
    background: #1F2937;
    width: 400px;
}

p {
    margin: 10px 0px;
    color: #D5D4D8
}

form {
    margin-top: 30px;
    margin-bottom: 20px;
}

.btn {
    background: #10B981;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.password-el {
    width: 150px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #273549;
    height: 20px;
    color: #55F991;
    text-align: center;
}

#container {
    display: flex;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 2px solid black;
    justify-content: space-around;
}

#top {
    margin-bottom: 0;
    color: white;
}

#bottom {
    margin: 0;
    color: #10B981;
}

#submit-btn {
    background: #10B981;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

#input-id {
    height: 34px;
    width: 85px;
    border-radius: 5px;
}